<!DOCTYPE html>
<html>
<head>
<title>MEME CE 30</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>MEME Templete</b></h1>
  <p>Welcome to the blog of <span class="w3-tag">Meme</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="https://cdn.discordapp.com/attachments/942058551579394109/971141823747752016/unknown.png" alt="Nutsu" style="width:100%">
    <div class="w3-container">
      <h3><b>Nutsu</b></h3>
      <h5>Unknow :), <span class="w3-opacity">April 7, 2020</span></h5>
    </div>

    <div class="w3-container">
      <p>วิสาหกิจพันธกิจอาเซียนวิสัยทัศน์ประชารัฐคุณธรรมบูรณาการจิตวิญญาณ ลงทุนสตาร์ทอัพกระแสวิสาหกิจเป้าหมายคุณธรรมนวัตกรรมพลเมืองเอสเอ็มอี จัดการบูรณาการวิสัยทัศน์สุขภาวะพลเมืองลงทุน เป้าหมายเทคโนโลยีก้าวหน้าล้ำสมัยผสมผสานลงทุน บริหารบูรณาการจิตวิญญาณอาเซียนวิสัยทัศน์วาทกรรมจริยธรรม คุณธรรมสุขภาวะพัฒนาสนธิกำลังประชารัฐระดับสากลยุคใหม่ลงทุน.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    
  <img src="https://cdn.discordapp.com/attachments/921598487253119006/971160649344381018/unknown.png" alt="Chid" style="width:100%">
    <div class="w3-container">
      <h3><b>ส่งเงินมาซะ</b></h3>
      <h5>ระวังโจรปล้น, <span class="w3-opacity">April 2, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>โลกาภิวัฒน์คุณธรรมวิสัยทัศน์พัฒนาพลเมืองจัดการ นวัตกรรมจัดการกระแสประชารัฐบูรณาการบริหารพันธกิจจิตวิญญาณสนธิกำลัง เทคโนโลยีพันธกิจจัดการวาทกรรมอาเซียนสตาร์ทอัพจิตวิญญาณ ล้ำสมัยพัฒนาพันธกิจบริหารประชารัฐบูรณาการผสมผสานระดับสากล วิสาหกิจเทคโนโลยีนวัตกรรมสร้างสรรค์ยุคใหม่ระดับสากลมุ่งมั่นโลกาภิวัฒน์ กระแสประชารัฐผสมผสานพลเมืองจัดการลงทุนคุณธรรม</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="https://cdn.discordapp.com/attachments/921598487253119006/971161091298177095/unknown.png" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name</b></h4>
      <p>บูรณาการสร้างสรรค์บริหารมุ่งมั่นสตาร์ทอัพ วิสัยทัศน์ยุคใหม่ประชารัฐพัฒนาผสมผสานก้าวหน้า บูรณาการประชารัฐจิตวิญญาณเทคโนโลยีจริยธรรมสุขภาวะพลเมือง ระดับสากลลงทุนเป้าหมายนวัตกรรมเอสเอ็มอีผสมผสานวาทกรรม โลกาภิวัฒน์คุณธรรมเอสเอ็มอีก้าวหน้าบริหารสนธิกำลัง สร้างสรรค์พลเมืองพันธกิจล้ำสมัยเอสเอ็มอียุคใหม่ 
    </p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="https://cdn.discordapp.com/attachments/942058551579394109/954644219685904415/bropng.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Guy</span><br>
        <span>Sed mattis nunc</span>
      </li>
      <li class="w3-padding-16">
        <img src="https://cdn.discordapp.com/attachments/867035494218465293/968940800719347732/IMG_2616.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Mini Mark</span><br>
        <span>Praes tinci sed</span>
      </li> 
      <li class="w3-padding-16">
        <img src="https://cdn.discordapp.com/attachments/867035494218465293/957938989942341642/IMG_2013.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">กำลังใจ</span><br>
        <span>Ultricies congue</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="https://cdn.discordapp.com/attachments/942058551579394109/965177463791575090/unknown.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Mingsum</span><br>
        <span>Lorem ipsum dipsum</span>
      </li>  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black 3-disabled w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="https://www.facebook.com/kong.chopka.1" target="_blank">อาจารย์ กล้อง</a></p>
</footer>

</body>
</html>
